p{
    font-family: 'IBM Plex Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}
a:link, a:visited {
    color: #000000;
    text-decoration: none;
}
body{
    background-image: url(map.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    padding: 10px;
}
img{
    opacity: 1;
    border-radius: 5%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.1s; 
    -webkit-transition-timing-function: ease; 
}
img:active{
    transform: scale(1.10);  
}
img:hover{
    /*blank*/
}
.tomatofarm{
    opacity: 1;
    height: 500px;
    width: 800px;
    padding: 10px;
    position: static;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}
.homebtn{
    font-size: 20px;
    text-align: center;
    background-position: center;
    background-color:  #d6230f;
    background-size: 200px 100px;
    border-radius: 25px;
    padding: 20px;
}
.nonclickable{
    font-size: 20px;
    text-align: center;
    background-position: center center;
    background-color:  #2e9af2;
    background-size: 200px 100px;
    border-radius: 25px;
    padding: 20px;
    opacity: 0.9;
}
.nonclickablesolid{
    font-size: 20px;
    text-align: center;
    background-position: center center;
    background-color:  #2e9af2;
    background-size: 200px 100px;
    border-radius: 25px;
    padding: 20px;
    opacity: 1;
}
.clickable:visited{
    background-color:#8722d4;
    color:#8722d4;
}
.clickable{
    font-size: 20px;
    text-align: center;
    background-position: center center;
    background-color:  #2e9af2;
    background-size: 200px 100px;
    border-radius: 25px;
    padding: 20px;
    opacity: 0.9;
}
.clickable:hover{
    background-color: #1d92f2;
    box-shadow: 4px 4px 4px #183696;
    transition-duration: 0.2s; 
    transform: scale(1.01);  
}
.clickable:active{
    background-color:#1b70f7;
    transition-duration: 0.2s;  
}
.title{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    color: #FFD700;
    text-shadow: 3px 1px 3px #858a0b;
}
.homebtn{
    font-size: 20px;
    text-align: center;
    background-position: center;
    background-color:  #d6230f;
    background-size: 200px 100px;
    border-radius: 25px;
    padding: 20px;
    opacity: 0.9;
}
.homebtn:hover{
    background-color: #b01a09;
    box-shadow: 3px 3px 3px #e0230d;
    transition-duration: 0.2s;  
    transform: scale(1.01); 
}
.homebtn:active{
    background-color:#731102;
    box-shadow: 4px 4px 4px #731102;
    transition-duration: 0.2s;  
}
.minecraftfont{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    text-shadow: 1px 1px 1px black;
}
.skillimg{
    height: 500px;
    width: 800px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}
figcaption{
    font-size: 15px;
}
.version{
    text-align: right;
}
#twitterbtn{
    background-color: #139ae8;
    border-color: #139ae8;
    color: white;  
    font-weight: bold; 
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
    background-size: 20px 100px;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}
.miningtitle{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    color:#d67a02;
    text-shadow: 3px 1px 3px #823b01;
}
.foragingtitle{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    color:#bd1300;
    text-shadow: 3px 1px 3px #a61403;
}
.farmingtitle{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    color:#1e9e29;
    text-shadow: 3px 1px 3px #0e4d03;
}
 .alert{
    position: sticky;
    padding: 20px;
    background-color: #d6230f; 
    color: black;
    position: static;
    border-radius: 25px;
    opacity: 0.9;
    transition: 0.2;
}
  .closebtn{
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  .closebtn:hover{
    color: darkgray;
    transform: scale(1.01); 
} 
  .alert:hover{
    background-color: #b01a09;
    box-shadow: 3px 3px 3px #e0230d;
    transition-duration: 0.2s;
    transform: scale(1.01); 
}
.closebtn:active{
    color: #424242
}
.locationtitle{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    color:#9416ba;
    text-shadow: 3px 1px 3px #55046e;
}
.miningbackground{
    background-image: url(creepymineshaft.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    padding: 10px;
}
.farmingbackground{
    background-image: url(gardenplot.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    padding: 10px;
}
.foragingbackground{
    background-image: url(stream.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    padding: 10px;
}
.locationsbackground{
    background-image: url(town.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    padding: 10px;
}