p{
    font-family: 'IBM Plex Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}
a:link, a:visited {
    color: #000000;
    text-decoration: none;
}
body{
    background-image: url(map.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    padding: 10px;
}
img{
    opacity: 1;
    border-radius: 5%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.1s; 
    -webkit-transition-timing-function: ease; 
}
/*img:active{
    transform: scale(1.08);  useless rn
}*/
img:hover{
    /*blank*/
}
/*.tomatofarm{
    opacity: 1;
    height: 500px;          unused saving for later
    width: 800px;
    padding: 10px;
    position: static;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}*/
.homebtn{
    font-size: 20px;
    text-align: center;
    background-position: center;
    background-color:  #d6230f;
    background-size: 200px 100px;
    border-radius: 25px;
    padding: 20px;
}
.nonclickable{
    font-size: 20px;
    text-align: center;
    background-position: center center;
    background-color:  #2e9af2;
    background-size: 200px 100px;
    border-radius: 25px;
    padding: 20px;
    opacity: 0.9;
}
.nonclickablesolid{
    font-size: 20px;
    text-align: center;
    background-position: center center;
    background-color:  #2e9af2;
    background-size: 200px 100px;
    border-radius: 25px;
    padding: 20px;
    opacity: 1;
}
.woodbackground{
    font-size: 20px;
    text-align: center;
    background-position: center;
    background-image: url(logbackground.png);
    background-size: 30px;
    background-repeat: repeat-x repeat-y;
    border-radius: 25px;
    padding: 20px;
    opacity: 1;
}
.changelogfont{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
/*.clickable:visited{
    background-color:#8722d4;           doesnt even work
    color:#8722d4;
}*/
.clickable{
    font-size: 20px;
    text-align: center;
    background-position: center center;
    background-color:  #2e9af2;
    background-size: 200px 100px;
    border-radius: 25px;
    padding: 20px;
    opacity: 0.9;
}
.clickable:hover{
    background-color: #1d92f2;
    box-shadow: 0px 0px 20px #183696;
    transition-duration: 0.2s; 
    transform: scale(1.01);
}
.clickable:active{
    background-color:#1b70f7;
    transition-duration: 0.1s;  
    transform: scale(1);  
}
.title{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    color: #FFD700;
    text-shadow: 3px 1px 3px #858a0b;
}
.homebtn{
    font-size: 20px;
    text-align: center;
    background-position: center;
    background-color:  #d6230f;
    background-size: 200px 100px;
    border-radius: 25px;
    padding: 20px;
    opacity: 0.9;
}
.homebtn:hover{
    background-color: #b01a09;
    box-shadow: 0px 0px 20px #690500;
    transition-duration: 0.2s;  
    transform: scale(1.01); 
}
.homebtn:active{
    background-color:#731102;
    transition-duration: 0.1s;
    transform: scale(1);  
}
.minecraftfont{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    text-shadow: 1px 1px 1px black;
}
.skillimg{
    
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}
figcaption{
    font-size: 15px;
}
.version{
    text-align: right;
}
.twitterbtn{
    background-color: #136ae8;
    border-color: #136ae8;
    font-size: 16px;
    border-radius: 15px;
    padding: 10px 24px;
    width: 250px;
    height: 75px;
    bottom:10px;
    scale: 70%;
    text-align: center;
    background-position: left;
    text-align: center;
}
.twitterbtn:hover{
    background-color: #1d92f2;
    box-shadow: 0px 0px 20px #183696;
    transition-duration: 0.2s; 
    transform: scale(1.01);  
}
.twitterbtn:active{
    background-color:#1b70f7;
    transition-duration: 0.1s;  
    transform: scale(1);  
}
.miningtitle{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    color:#d67a02;
    text-shadow: 3px 1px 3px #823b01;
}
.foragingtitle{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    color:#bd1300;
    text-shadow: 3px 1px 3px #a61403;
}
.farmingtitle{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    color:#1e9e29;
    text-shadow: 3px 1px 3px #0e4d03;
}
.alert{
    position: sticky;
    padding: 20px;
    background-color: #d6230f; 
    color: black;
    position: static;
    border-radius: 10px;
    opacity: 0.9;
    transition: 0.2;
}
.closebtn{
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.closebtn:hover{
    color: darkgray;
} 
/*.alert:hover{
    box-shadow: 3px 3px 3px #690500;
}*/
.closebtn:active{
    color: #424242
}
.locationtitle{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    color:#9416ba;
    text-shadow: 3px 1px 3px #55046e;
}
.miningbackground{
    background-image: url(creepymineshaft.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    padding: 10px;
}
.farmingbackground{
    background-image: url(gardenplot.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    padding: 10px;
}
.foragingbackground{
    background-image: url(stream.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    padding: 10px;
}
.locationsbackground{
    background-image: url(town.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    padding: 10px;
}
.yellow{
    font-size: 20px;
    text-align: center;
    background-position: center center;
    background-color:  #afb500;
    background-size: 200px 100px;
    border-radius: 25px;
    padding: 20px;
    opacity: 0.9;
}
.yellow:hover{
    font-size: 20px;
    text-align: center;
    background-position: center center;
    background-color:  #838701;
    background-size: 200px 100px;
    border-radius: 25px;
    padding: 20px;
    opacity: 0.9;
    box-shadow: 4px 4px 4px #838701;
}
.wipbtn{
    font-size: 20px;
    text-align: center;
    background-position: center center;
    background-image: linear-gradient(45deg, #000000 25%, #f5d000 25%, #f5d000 50%, #000000 50%, #000000 75%, #f5d000 75%, #f5d000 100%);
    background-size: 40.00px 40.00px;
    border-radius: 25px;
    padding: 20px;
    opacity: 1;
}    
.wipbtn:hover {
    box-shadow: 0 0 20px white;
    transition-duration: 0.2s; 
    transform: scale(1.01);  
}    
.wiptitle{
    font-family: 'MinecraftiaRegular','IBM Plex Sans','sans-serif';
    font-weight: normal;
    font-style: normal; 
    color:#f0910c;
    text-shadow: 3px 1px 3px #823b01;
}
.wipbtn:active{
    transition-duration: 0.1s;  
    transform: scale(1); 
}